* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Sans-Serif;
  background: #fff;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background: #d9d9d9;
}

.logo {
  max-width: 100px;
  height: auto;
}

.navbar {
  display: flex;
}

.navbar a {
  color: #000;
  margin: 0 25px;
  font-weight: bold;
}

.navbar a:hover {
  color: #ac663e;
}

label {
  display: flex;
  align-items: center;
  margin: auto;
  width: 40px;
  height: 20px;
  position: relative;
  background: #ebebeb;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  transition: 0.5s;
}

label:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: auto;
  left: 2px;
  transform: translateX(-5%);
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

label.active:before {
  background: linear-gradient(180deg, #777, #3a3a3a);
  transform: translateX(140%);
}

.menu {
  background: #ebebeb;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  padding: 10px 20px;
  display: none;
  align-items: center;
  cursor: pointer;
}

#menu {
  font-size: 18px;
  z-index: 6;
  color: #000;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  color: #000;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.info i {
  margin-right: 20px;
  font-size: 25px;
}

.form {
  max-width: 700px;
  margin-right: 50px;
}

.info, .form {
  flex: 1;
}

.form h2 {
  color: #000;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}

.form .text-box {
  background: #d9d9d9;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.form .text-box:first-child {
  margin-right: 15px;
}

.form textarea {
  background: #d9d9d9;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: none;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact #send {
  float: right;
  background: #ac6330;
  color: #fff;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  line-spacing: 2px;
  cursor: pointer;
}

.alert-success {
  z-index: 1;
  background: #D4EDDA;
  font-size: 18px;
  padding: 20px 40px;
  width: auto;
  position: absolute;
  bottom: 0;
  border-left: 8px solid #3AD66E;
  border-radius: 4px;
  display: none;
  text-align: center;
}

.alert-error {
  z-index: 1;
  background: #FFF3CD;
  font-size: 18px;
  padding: 20px 40px;
  width: auto;
  position: absolute;
  bottom: 0;
  border-left: 8px solid #FFA502;
  border-radius: 4px;
  display: none;
  text-align: center;
}

body.night {
  background: #424242;
}

body.night header,
body.night .navbar {
  background: #242424;
}

body.night header .navbar a:hover {
  color: #ac6630;
}

body.night header .navbar a,
body.night .contact .info,
body.night .form h2,
body.night .form .text-box,
body.night .form textarea {
  color: #fff;
}

body.night .form .text-box,
body.night .form textarea {
  background: #242424;
}

body.night .form .text-box::placeholder,
body.night .form textarea::placeholder {
  color: #fff;
}

@media (max-width: 1850px) {
  header {
    padding: 0 8%;
  }
}

@media (max-width: 1370px) {
  header {
    padding: 0 4%;
  }
}

@media (max-width: 1020px) {
  .navbar a {
    margin: 0 15px;
  }
}

@media screen and (max-width: 950px) {
  header {
    padding: 0 4%;
  }
  .contact {
    padding-top: 100px;
    flex-direction: column;
  }
  .info, .form {
    margin: 30px 50px;
  }
  .form h2 {
    font-size: 30px;
  }
  .form .text-box {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .menu {
    display: flex;
  }
  label {
    display: none;
  }
  .navbar {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 40px 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    background: #d9d9d9;
    transition: all 0.5s ease-in-out;
  }
  .navbar a {
    display: block;
    padding: 0px;
    margin: 0px 0px 40px 0px;
    font-size: 20px;
    font-weight: bold;
  }
  .navbar.open {
    left: 0;
  }
 
}
