* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Sans-Serif;
  background: #fff;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background: #d9d9d9;
}

.logo {
  max-width: 100px;
  height: auto;
}

.navbar {
  display: flex;
}

.navbar a {
  color: #000;
  margin: 0 25px;
  font-weight: bold;
}

.navbar a:hover {
  color: #ac663e;
}

label {
  display: flex;
  align-items: center;
  margin: auto;
  width: 40px;
  height: 20px;
  position: relative;
  background: #ebebeb;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  transition: 0.5s;
}

label:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: auto;
  left: 2px;
  transform: translateX(-5%);
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

label.active:before {
  background: linear-gradient(180deg, #777, #3a3a3a);
  transform: translateX(140%);
}

.menu {
  background: #ebebeb;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  padding: 10px 20px;
  display: none;
  align-items: center;
  cursor: pointer;
}

#menu {
  font-size: 18px;
  z-index: 6;
  color: #000;
}

section {
  padding: 0 15%;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.content h1 {
  font-size: 50px;
  padding-bottom: 10px;
}

.content h3 {
  font-size: 28px;
  font-weight: bold;
  color: #ac663e;
  padding-bottom: 10px;
}

.image {
  width: 730px;
  height: auto;
}

.image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.content p {
  max-width: 900px;
  line-height: 1.5;
}

.soc {
  position: absolute;
  bottom: 3rem;
  display: flex;
  align-items: center;
}

.soc p {
  color: #000;
  margin-right: 25px;
}

.social i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: #242424;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  color: #fff;
  margin: 0 7px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.social i:hover {
  transform: translateY(-10px);
}

body.night {
  background: #424242;
  color: #fff;
}

body.night header,
body.night .navbar {
  background: #242424;
}

body.night .navbar a:hover {
  color: #ac6630;
}

body.night header .navbar a,
body.night .soc p {
  color: #fff;
}

body.night .social i {
  background: #d9d9d9;
  color: #000;
}

@media (max-width: 1850px) {
  header {
    padding: 0 8%;
  }

  section {
    padding: 0 8%;
    transition: .2s;
  }

  .soc {
    left: 8%;
    transition: .2s;
  }
}

@media (max-width: 1370px) {
  header {
    padding: 0 4%;
  }

  section {
    padding: 0 4%;
    transition: .2s;
  }

  .soc {
    left: 4%;
    transition: .2s;
  }
}

@media (max-width: 1020px) {
  .navbar a {
    margin: 0 15px;
  }
}

@media (max-width: 950px) {
  .soc {
    display: none;
  }

  section {
    padding: 70px 4%;
  }

  header {
    padding: 0 4%;
  }

  .home {
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .content {
    order: 2;
  }

  .image {
    margin: auto;
    height: auto;
    width: auto;
  }

  .image img {
    max-width: 450px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 650px) {
  .menu {
    display: flex;
  }

  label {
    display: none;
  }

  .navbar {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 40px 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    background: #d9d9d9;
    transition: all 0.5s ease-in-out;
  }

  .navbar a {
    display: block;
    padding: 0;
    margin: 0px 0px 40px 0px;
  }

  .navbar.open {
    left: 0;
  }
}

